<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blu.png" class="navbar-brand-img logo-img">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Nav items -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
            <i class="ni ni-tv-2 text-primary"></i>
            <span class="nav-link-text">Menu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
            <i class="ni ni-planet text-orange"></i>
            <span class="nav-link-text">Icons</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <style>
    .logo-img {
      width: 60px; /* Define un tamaño fijo */
      height: auto; /* Mantiene la proporción */
    }
  </style>
</nav>
