<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    Panel Solar - {% block title %} Open-Source Admin Panel {% endblock %} | Arduino
  </title>

  <!-- Favicon -->
  <link rel="icon" href="/static/assets/img/brand/favico.png" type="image/png">
  
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">

  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>

  {% include "includes/sidenav.html" %}

  <div class="main-content" id="panel">

    {% block content %}{% endblock content %}

  </div>

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}

  <script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>

</html>
